<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://uowazurefunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8069d240-7d60-41c8-89e0-1d62d908e693/resourceGroups/AzureFunctionAppResGroup/providers/Microsoft.Web/sites/uowazurefunctionapp</ResourceId>
    <UserName>$uowazurefunctionapp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://uowazurefunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>